#menu
{
  position: sticky;
  top: 0;
  background: #FFF;
  padding: 5px 0px;
  margin: 0 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  border-bottom: solid 1px #444;
}

@media(prefers-color-scheme: dark) 
{
  #menu
  {
    background: #222;
  }
}


.menu-logo
{
  padding-left: 20px;
  padding-right: 20px;
  color: #333;
  border-right: solid 1px #444;
  display: flex;
  align-items: center;
}

@media(prefers-color-scheme: dark) 
{
  .menu-logo
  {
    color: #CCC;
  }
}

.menu-logo > p
{
  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
  margin: 0;
  margin-bottom: 3px;
  user-select: none;
  color: #888;
  cursor: default;
}

.menu-spacer
{
  flex-grow: 1;
}

.menu-button
{
  background: #FFF;
  color: #AAA;
  padding: 0px 0px;
  user-select: none;
  border-radius: 0%;
  border-left: solid 1px #444;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media(prefers-color-scheme: dark) 
{
  .menu-button
  {
    background: #222;
  }
}

.menu-button > p
{
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  padding-bottom: 3px;
  border-radius: 10px;
}

.menu-button-clickable > p:hover
{
  cursor: pointer;
  color: #CCC;
}

body
{
  padding: 0 0;
  margin: 0 0;
  font-family: system-ui;
  background: #FFF;
}

@media(prefers-color-scheme: dark) 
{
  body
  {
    background: #222;
  }
}


.menu-status > p
{
  color: #444;
}

#output
{
  margin: 0;
  padding: 0;
  background: #FFF;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media(prefers-color-scheme: dark) 
{
  #output
  {
    background: #222;
  }
}


#output > .cell
{
  margin: 0;
  padding: 10px 10px;
  color: #AAA;
  background: #FFF;
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px #333;
  font-size: 0.9rem;
  align-items: start;
}

@media(prefers-color-scheme: dark) 
{
  #output > .cell
  {
    background: #222;
  }
}

#output > .cell > .cell-date
{
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  color: #444;
  border-right: solid 1px #333;
  align-self: stretch;
  width: 150px;
  text-align: center;
  flex-shrink: 0;
}

#output > .cell > .cell-output
{
  padding-left: 15px;
  flex-grow: 1;
  white-space: pre-wrap;
}

#output > .cell > .cell-download
{
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#output > .cell > .cell-download p
{
  margin: 0;
  padding: 0;
  padding-right: 10px;
}

#output > .cell > .cell-download p:hover
{
  cursor: pointer;
  color: #CCC;
}

#output > .cell > .cell-exception
{
  padding-left: 15px;
  color: #b66;
  white-space: pre-wrap;
}

#formula
{
  color: #CCC;
}
