.theme
{
  background: #FFF;
}

html, body {
    margin: 0 !important;
    padding: 0 !important;
}

html, body {
    overflow: hidden;
}

@media(prefers-color-scheme: dark) 
{
  .theme.adaptive
  {
    background: #111;
  }
}


